.home>header {
    background-image: url("../images/banner-home-header.png") !important;
}

.home>header .outer-wrapper {}

.wrapper-footer footer .site-nav {
    display: none;
}
.wrapper-footer footer .legal-nav {
    display: none;
}