<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            Termos e condições de uso portal MUNDO SENAI
        </h1>
        
        <div id="tos-content">
            <ol>
                <li>
                    <b>Introdução</b>
                    <ol>
                        <li>O Serviço Nacional de Aprendizagem Industrial (SENAI) lhe convida a participar de nossa plataforma Mundo Senai, doravante denominado simplesmente MUNDO SENAI, e lhe informa os Termos e Condições que regem sua utilização.</li>
                        <li>O Mundo SENAI destina-se a fornecer aos seus participantes informações e tendências do mercado de trabalho do setor industrial baseados em estudos e dados exclusivos, com o objetivo de orientar o usuário na sua carreira na indústria brasileira. Além disso, o canal pretende oferecer aos seus participantes a oportunidade de conhecer as profissões que mais se adequam ao seu perfil, e quais cursos e escolas do SENAI são recomendados a ele a essas carreiras.</li>
                        <li>Sobre a plataforma:</li>
                        É só uma plataforma web? <br>
                        Sim!<br>
                        O usuário precisa criar uma conta pra acessar? <br>
                        Obrigatóriamente o USUÁRIO tem que criar uma conta dentro da plataforma do treinamento.<br>
                        O que a plataforma oferece?<br>
                        Treinamentos em tecnologias atuais na área de nuvem da Microsoft (Azure).
                    </ol>                    
                </li><br>

                <li>
                    <b>Confiabilidade da Informação</b>
                    <ol>
                        <li>O SENAI assegura que as informações fornecidas no MUNDO SENAI sejam corretas, completas e atuais. No entanto, o SENAI não assume a responsabilidade pela utilização, aplicação ou processamento que os USUÁRIOS possam realizar em relação às mencionadas informações cadastrais em desconformidade com a natureza e função das mesmas.</li>
                        <li>As informações contidas no MUNDO SENAI poderão ser atualizadas ou modificadas periodicamente, pelo SENAI. Não devendo estas informações serem interpretadas como definitivas.</li>
                        <li>O conteúdo disponibilizado neste site tem propósito exclusivamente informativo, não consistindo em recomendações vocacionais, socioemocionais, educativas, financeiras, legais, fiscais, contábeis ou de qualquer outra natureza. A utilização deste material é de inteira responsabilidade do USUÁRIO. O SENAI não assegura quaisquer resultados a partir das informações fornecidas, em razão do caráter meramente informativo dessas informações.</li>
                        <li>O SENAI poderá alterar a forma e o conteúdo, bem como suspender ou cancelar, a seu exclusivo critério, a qualquer tempo, quaisquer dos serviços, produtos, utilidades ou aplicações disponibilizados no site.</li>
                        <li>O SENAI envidará seus melhores esforços no sentido de manter as informações e materiais contidos neste site tão precisos, atualizados e completos quanto possível.</li>
                    </ol>
                </li><br>

                <li>
                    <b>Utilização do Portal e de seus links</b>
                    <ol>
                        <li>. Em nenhuma hipótese o SENAI se responsabiliza pelo uso do MUNDO SENAI ou de acesso a links nele indicados, bem como por atos praticados por USUÁRIOS que tenham por base informações obtidas nos links.</li>
                    </ol>
                </li><br>

                <li>
                    <b>Direitos autorais e propriedade Intelectual</b>
                    <ol>
                        <li>Os textos, fotografias, imagens, logomarcas e sons presentes e publicados no MUNDO SENAI se encontram protegidos por direitos autorais ou outros direitos de propriedade intelectual.</li>
                        <li>Ao acessar o MUNDO SENAI, o USUÁRIO declara que irá respeitar todos os direitos de propriedade intelectual e industrial, os decorrentes da proteção de marcas registradas, bem como todos os direitos referentes a terceiros que por ventura estejam, ou estiveram, de alguma forma disponíveis no MUNDO SENAI, incluindo, artigos, documentos, aplicativos e notícias.</li>
                        <li>O simples acesso ao MUNDO SENAI não confere ao USUÁRIO qualquer direito de uso dos nomes, títulos, palavras, frases, marcas, patentes, citações, conteúdos, artigos, publicações, obras literárias, artísticas, lítero-musicais, dentre outras, que nele estejam, ou estiveram, disponíveis.</li>
                        <li>É vedada a utilização do MUNDO SENAI ou das informações nele inseridas, sem autorização, para finalidades comerciais, publicitárias ou qualquer outra que contrarie a realidade para o qual foi concebido conforme definido neste Termo. Restam igualmente proibidas a reprodução, distribuição e divulgação, total ou parcial, dos textos, figuras, gráficos que compõem o MUNDO SENAI, sem prévia e expressa autorização do SENAI, sendo permitida somente a impressão de cópias para uso e arquivo pessoal, sem que sejam separadas as partes que permitam dar o fiel e real entendimento de seu conteúdo e objetivo.</li>
                        <li>O SENAI se reserva o direito de utilização dos dados cadastrais armazenados para ações de relacionamento do SENAI com os USUÁRIOS do MUNDO SENAI, respeitada a política de privacidade.</li>
                    </ol>
                </li><br>

                <li>
                    <b>Cadastro do USUÁRIO, Senha e Segurança</b>
                    <ol>
                        <li>Para que os USUÁRIOS possam desfrutar dos benefícios prestados pelo MUNDO SENAI, faz-se necessário realizar o cadastro no MUNDO SENAI.</li>
                        <li>
                            O USUÁRIO, nestes Termos de Uso, concorda em:
                            <ol>
                                <li>fornecer informações verdadeiras, exatas, atuais e completas sobre si mesmo quando do registro no formulário específico para acesso ao MUNDO SENAI;</li>
                                <li>. conservar e atualizar imediatamente tais informações de Registro para mantê-las verdadeiras, exatas, atuais e completas.</li>
                            </ol>
                        </li>
                        <li>
                            O USUÁRIO deverá informar seu próprio endereço eletrônico a ser utilizado para sua identificação no MUNDO SENAI e recebimento de mensagens advindas de seu cadastro no referido Site. O USUÁRIO deverá também criar uma senha, sendo inteiramente responsável pela confidencialidade da mesma, bem como de qualquer atividade que ocorra no âmbito de seu cadastro. O USUÁRIO pode alterar sua senha a qualquer momento. Tanto o endereço eletrônico informado pelo USUÁRIO quanto a senha por ele criada, serão utilizados para a identificação do mesmo e permissão de acesso ao MUNDO SENAI.
                        </li>
                        <li>
                            Os USUÁRIOS menores de 18 (dezoito anos) precisam ser representados ou assistidos, conforme o caso, pelos seus pais ou responsáveis legais para fazer o cadastro.
                        </li>
                        <li>
                            As Informações da Conta dos USUÁRIOS são protegidas por senha para a sua segurança e privacidade. Em algumas áreas, usa-se a criptografia SSL, o padrão da indústria, para proteger transmissões de dados.
                        </li>
                        <li>
                            O USUÁRIO concorda em notificar imediatamente o SENAI sobre qualquer uso não-autorizado de seu login (identificação do USUÁRIO para acesso ao MUNDO SENAI, mediante o preenchimento de seu endereço eletrônico pessoal e senha criada na MUNDO SENAI) ou qualquer quebra de segurança de seu conhecimento.
                        </li>
                        <li>
                            Faz parte de nossa política respeitar a privacidade de nossos USUÁRIOS. O MUNDO SENAI não irá, portanto, monitorar, editar ou divulgar informações privativas de seus USUÁRIOS, sem autorização prévia, exceto nos casos expressamente previstos nos termos da Política de Privacidade ou a menos que sejamos obrigados a fazê-lo mediante ordem judicial ou por força de lei.
                        </li>
                        <li>
                            O USUÁRIO autoriza expressamente o MUNDO SENAI a comunicar-se com o mesmo por meio de todos os canais de comunicação disponíveis, incluindo correio eletrônico (e-mail), Celular, SMS, entre outros.
                        </li>
                    </ol>
                </li><br>

                <li>
                    <b>É de inteira responsabilidade do USUÁRIO:</b>
                    <ol>
                        <li>efetuar seu próprio cadastro no MUNDO SENAI, responsabilizando-se pela correção e veracidade dos dados informados, assim como pela guarda de sua senha de acesso;</li>
                        <li>manter o ambiente de seu computador seguro, com uso de ferramentas disponíveis como antivírus e firewall, entre outras, atualizadas, de modo a contribuir na prevenção de riscos eletrônicos por parte dos USUÁRIOS.</li>
                    </ol>
                </li><br>

                <li>
                    <b>Modificações destes Termos e Condições</b>
                    <ol>
                        <li>O SENAI reserva-se o direito de modificar a qualquer momento, visando uma melhoria contínua, de forma unilateral, o presente Termo e Condições de Uso. Ao navegar pelo MUNDO SENAI, o USUÁRIO concorda com os Termos e Condições que se encontram vigentes na data e, portanto, deve verificar os mesmos previamente cada vez que visitar o MUNDO SENAI.</li>
                    </ol>
                </li><br>

                <li>
                    <b>Exclusão de garantias e de responsabilidade</b>
                    <ol>
                        <li>
                            Em decorrência de questões operacionais e de terceirização de serviços, o MUNDO SENAI e os seus serviços estão sujeitos a eventuais problemas de interrupção, falha técnicas, ou indisponibilidade de funcionamento temporário. Quando for razoavelmente possível, o SENAI advertirá previamente as interrupções do funcionamento do MUNDO SENAI aos seus USUÁRIOS.
                        </li>
                        <li>
                            o SENAI se exime, com toda a extensão permitida pelo ordenamento jurídico, de qualquer responsabilidade pelos danos e prejuízos de toda natureza que possam decorrer da falta de disponibilidade ou de continuidade do funcionamento do MUNDO SENAI, à defraudação da utilidade que os USUÁRIOS possam ter atribuído ao site e aos serviços, à falibilidade do site e dos serviços e, em particular, ainda que não de modo exclusivo, às falhas de acesso às distintas páginas web que compõem a plataforma ou em que se prestam os serviços.
                        </li>
                        <li>
                            O USUÁRIO está ciente de que o SENAI e/ou o MUNDO SENAI não será responsável por/pelo:
                            <ol>
                                <li>Quaisquer danos diretos, indiretos, incidentais, especiais, consequenciais ou exemplares, incorridos pelo USUÁRIO, causados e sob qualquer teoria de responsabilidade, incluindo, mas não se limitando a, qualquer perda de lucros (incorrida direta ou indiretamente), qualquer perda relacionada com a boa-fé ou reputação comercial, qualquer perda de dados que o usuário possa sofrer, custos de aquisição de bens ou serviços ou outra perda intangível;</li>
                                <li>
                                    Qualquer perda ou dano em que o usuário possa incorrer, inclusive, mas não se limitando a, perda ou danos em decorrência de:
                                    <ol>
                                        <li>Qualquer expectativa do USUÁRIO quanto à integridade, precisão ou existência de qualquer publicidade, ou em resultado de qualquer relação ou transação realizada com qualquer anunciante ou patrocinador cuja publicidade apareça nos serviços;</li>
                                        <li>Quaisquer alterações que o SENAI possa fazer aos serviços, ou por qualquer cessação permanente ou temporária do fornecimento dos serviços (ou quaisquer funcionalidades nos próprios serviços);</li>
                                        <li>Eliminação, corrupção ou incapacidade de armazenamento de qualquer conteúdo ou outros dados de comunicações mantidos ou transmitidos por ou através da utilização dos serviços por parte do USUÁRIO;</li>
                                        <li>Não fornecimento ao SENAI, por parte do USUÁRIO, de informações corretas relativas à conta;</li>
                                        <li>Não manutenção, por parte do USUÁRIO, da segurança e da confidencialidade dos detalhes da sua conta e senha.</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li><br>

                <li>
                    <b>As limitações de responsabilidade do SENAI perante o USUÁRIO, mencionadas acima, serão aplicáveis independentemente de o SENAI ter ou não sido notificada ou ainda que devesse ter conhecimento da possibilidade de ocorrência de tais perdas.</b>
                </li><br>

                <li>
                    <b>Uso dos Serviços pelo USUÁRIO</b>
                    <ol>
                        <li>Para acessar determinados Serviços, poderá ser solicitado ao USUÁRIO que forneça informações pessoais (tais como identificação ou detalhes de contato) como parte do processo de registro para o Serviço ou como parte da utilização continuada dos Serviços por parte do USUÁRIO. O USUÁRIO declara a veracidade, exatidão e atualização das informações de registro que fornecer ao SENAI.</li>
                        <li>O USUÁRIO concorda em usar os Serviços somente para os fins permitidos: por estes Termos, e quaisquer leis, regulamentos ou práticas ou diretrizes geralmente aceitas nas jurisdições relevantes.</li>
                        <li>O USUÁRIO concorda em não acessar (nem tentar acessar) qualquer um dos Serviços por qualquer meio que não seja através da interface fornecida pela SENAI, exceto se for especificamente autorizado a tal.</li>
                        <li>O USUÁRIO concorda especificamente em não acessar (nem tentar acessar) qualquer um dos Serviços por meio de meios automatizados (inclusive uso de scripts ou rastreadores da web).</li>
                        <li>O USUÁRIO concorda em não participar de nenhuma atividade que interfira ou interrompa o funcionamento dos Serviços (ou servidores e redes conectados aos Serviços).</li>
                        <li>O USUÁRIO concorda em não reproduzir, duplicar, copiar, vender, comercializar ou revender os Serviços constantes do MUNDO SENAI.</li>
                        <li>O USUÁRIO concorda que será o único responsável (e que o SENAI não tem qualquer responsabilidade perante o USUÁRIO ou terceiros) por qualquer não cumprimento das suas obrigações no que diz respeito aos termos deste instrumento e pelos prejuízos causados ao SENAI em razão desse inadimplemento.</li>
                        <li>O USUÁRIO poderá responder civil e/ou penalmente por qualquer ilícito advindo de sua ação e/ou omissão no MUNDO SENAI.</li>
                    </ol>
                </li><br>

                <li>
                    <b>Dúvidas</b>
                    <ol>
                        <li>Caso tenha qualquer dúvida em relação ao presente documento, favor entrar em contato através do Fale conosco do MUNDO SENAI (www.mundosenai.com.br)</li>
                    </ol>
                </li><br>
            </ol>
        </div>
    </section>
</main>
