<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
<h1><b>${Text(_(u"ESCOLA SENAI DE INTELIGÊNCIA ARTIFICIAL"))}</b></h1>
<h1>${Text(_(u"EM PARCERIA COM A MICROSOFT"))}</h1>
## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
