$sans-serif: 'MyriadPro-Regular', 'Open Sans', $verdana, sans-serif !important;
$monospace: Monaco, 'MyriadPro-Regular', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace !important;
$body-font-family: $sans-serif !important;
$serif: $georgia !important;

// newer variables/standards
$f-serif: 'MyriadPro-Regular', 'Bree Serif', Georgia, Cambria, 'Times New Roman', Times, serif !important;
$f-sans-serif: 'MyriadPro-Regular', 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
$f-monospace: 'MyriadPro-Regular', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace !important;