//colores bs originales
$fondo_bs: #094d82;
$verde_bs: #afca0a;

//colores bs thema
$blanco: #ffffff;
$azul_bs: #094d82;;
$naranja_bs: #f9a133;
$naranja_banner_bs: #f9b233;
$celeste_bs: #7cb6ef;
$blanco_fondo_bs: hsl(0, 0%, 96%);
$verde_linea_bs: #AFCA0A;
$fondo_footer_bs: #ECECEC;
$gris_linea_bs: #E0DFDF;
$letra_celeste_bs: #29A9E1;
$azul_organizacion_bs: #004B83;
$gris_letra_bs: #878786;
$celeste_letra_bs: #68A9E1;
$celeste_boton_bs: #54B0DA;

//colores edx
$gris_copyright: #767676;