$sans-serif: 'Helvetica';
$header-bg: #0a0a0a;
$blue: rgb(94, 0, 0);
$fondo_bs: #094d82;
$verde_bs: #afca0a;

.header-global {
    height: 90px;
    border-bottom: none;

    .wrapper-header {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.home > header {
    // background-color: #5e0000;
    background-color: $fondo_bs;
}

.title > .heading-group > h1 {
    text-align: center;
}

section > .course-profile{
    height: initial;
    padding-top: 10px;
    padding-bottom: 10px;
}

.courses-container .courses .course {
    // border-bottom-color: #5e0000;
    border-bottom-color: $fondo_bs;
}

.courses-container .courses .course .course-image .cover-image .learn-more {
    // background-color: #193050
    background-color: $fondo_bs;
}

.highlighted-courses .courses .course, 
.find-courses .courses .course {
    // border-color: #a9bbd3
    border-color: $fondo_bs;
}

.header-global .nav-courseware li .btn, 
.header-global .nav-courseware div .btn, 
.login .form-actions button[type='submit'], 
.register .form-actions button[type='submit']:hover, 
.passwordreset .form-actions button[type='submit']:hover, 
#forgot-password-modal #password-reset .form-actions button[type='submit']:hover, 
.view-survey .action-primary:hover, 
.header-global .nav-courseware li .btn:active, 
.header-global .nav-courseware div .btn:active, 
.login .form-actions button[type='submit']:active, 
.register .form-actions button[type='submit']:active, 
.passwordreset .form-actions button[type='submit']:active, 
#forgot-password-modal #password-reset .form-actions button[type='submit']:active, 
.view-survey .action-primary:active, 
.header-global .nav-courseware li .btn:focus, 
.header-global .nav-courseware div .btn:focus, 
.login .form-actions button[type='submit']:focus, 
.register .form-actions button[type='submit']:focus, 
.passwordreset .form-actions button[type='submit']:focus, 
#forgot-password-modal #password-reset .form-actions button[type='submit']:focus, 
.view-survey .action-primary:focus,
.header-global .nav-courseware li .btn, 
.header-global .nav-courseware div .btn, 
.login .form-actions button[type="submit"], 
.register .form-actions button[type="submit"], 
.passwordreset .form-actions button[type="submit"], 
#forgot-password-modal #password-reset .form-actions button[type="submit"], 
.view-survey .action-primary {
    background-color: #193050
}

.wrapper-footer {
    
    box-shadow: 0 -1px 5px 0 rgba(94,0,0,0.1);
    // border-top: 1px solid #5E0000;
    border-top: 1px solid $fondo_bs;

    footer#footer-openedx .colophon 
    {

        .wrapper-logo {
            margin-right: 20px;
        }

        .nav-colophon {
            margin: 30px 0 2px 0;
        }
    
        .wrapper-logo, .nav-colophon, p.copyright, nav.nav-legal {
            float:left
        }
    }
}

// estilos para el logo
.logo > a > img, .wrapper-logo > p > a > img  {
    height: 100px;
}

.wrapper-logo {
    margin-top: 0px !important;
}

//estilos img slyder
header > .outer-wrapper {
    padding: 30px !important;
}
header > .outer-wrapper > .title {
    text-align: center;
	padding: 0px;
	min-height:0;
	background-color: $verde_bs;
}
header > .outer-wrapper > .title > .heading-group {
    padding: 0px;
}
header > .outer-wrapper > .title > .heading-group > img {
    width: 100%;
}

.course-info {
    .course-profile-XMRBR101, .course-profile-XMRES101 {
        background-image: url("../images/background-XMRxx101.png") !important;
    }
}

// estilos tos
.tos-body {
    font-size: 14px;
    text-align: justify; 
}
