@import 'colors';
@import 'fonts';
@import 'header';
@import 'footer';

$sans-serif: $myriad_regular;
$body-font-family: $myriad_regular, $sans-serif !important;

html {
    height: 100%;
}

body {
    font-family: $myriad_regular;
    font-size: 15px;
    height: 100%;
}

.window-wrap {
    min-height: 89%;
    position: relative;
}

.content-wrapper {
    background-color: $blanco;
    margin-top: 30px;

    //etilos dashboard
    #dashboard-main {
        #my-courses {
            width: 100%;

            .wrapper-header-courses {
                border: none;
                .header-courses {
                    color: $naranja_bs;
                    font-family: $myriad_regular;
                    font-weight: bold;
                    padding-left: 2%;
                }
            }

            .course .details .course-title a {
                font-family: $myriad_regular;
                font-size: 30px;
            }
            .course-info [class*="info-"]{
                font-family: $myriad_regular !important;
            }

            .empty-dashboard-message {
                border: 1px solid $gris_borde;
                border-radius: 5px;
                background: $gris_fondo;
                font-size: 20px;
                margin: 0 auto;
                text-shadow: none;
                width: 60%;
                
                a {
                    background: $celeste_boton_bs;
                    border: 1px solid $celeste_boton_bs;
                    border-radius: 5px;
                    font-family: $myriad_regular;
                    font-size: 24px;
                    font-weight: bold;
                    padding: 10px 20px;
                    width: 60%;

                    img {
                        height: 35px;
                    }
                }
            }

            .listing-courses {
                .course-item .course-container {
                    background: $gris_fondo;
                    border: 1px solid $gris_borde;
                    .course {
                        background: $gris_fondo;
                        .details {
                            .wrapper-course-image {
                                .cover {
                                    border: none;
                                }
                            }
                            .wrapper-course-details {
                                .course-title {
                                    color: $azul_letra;
                                    span {
                                        font-family: $myriad_regular;
                                    }
                                }
                                .wrapper-course-actions .enter-course{
                                    float: right;
                                    background: $naranja_fuerte;
                                    border: 1px solid $naranja_fuerte;
                                    color: $blanco;
                                    font-family: $myriad_regular;
                                }
                                .actions-item {
                                    font-family: $myriad_regular !important;
                                }
                            }
                        }
                        .message, .message-copy {
                            font-family: $myriad_regular !important;
                        }
                    }
                }
            }
        }
    }
    
}

.home > header {
    // background-color: #5e0000;
    background-color: $naranja_banner_bs;
}

.title > .heading-group > h1 {
    text-align: center;
}

section > .course-profile{
    height: initial;
    padding-top: 10px;
    padding-bottom: 10px;
}

.courses-container .courses .course {
    // border-bottom-color: #5e0000;
    border-bottom-color: $blanco_fondo_bs;
    .course-info {
        font-family: $myriad_regular;
        height: auto;
        .course-title {
            margin: 5px 0 0px 0;
        }
        h2 {
            font-family: $myriad_regular !important;
        }
    }
}

.courses-container .courses .course .course-image .cover-image {
    // background-color: #193050
    background-color: $blanco;
}

.learn-more {
    background-color: $azul_bs;
}

.highlighted-courses .courses .course, 
.find-courses .courses .course {
    // border-color: #a9bbd3
    background-color: $blanco;
    border-color: $blanco_fondo_bs;
}

.header-global .nav-courseware li .btn, 
.header-global .nav-courseware div .btn, 
.login .form-actions button[type='submit'], 
.register .form-actions button[type='submit']:hover, 
.passwordreset .form-actions button[type='submit']:hover, 
#forgot-password-modal #password-reset .form-actions button[type='submit']:hover, 
.view-survey .action-primary:hover, 
.header-global .nav-courseware li .btn:active, 
.header-global .nav-courseware div .btn:active, 
.login .form-actions button[type='submit']:active, 
.register .form-actions button[type='submit']:active, 
.passwordreset .form-actions button[type='submit']:active, 
#forgot-password-modal #password-reset .form-actions button[type='submit']:active, 
.view-survey .action-primary:active, 
.header-global .nav-courseware li .btn:focus, 
.header-global .nav-courseware div .btn:focus, 
.login .form-actions button[type='submit']:focus, 
.register .form-actions button[type='submit']:focus, 
.passwordreset .form-actions button[type='submit']:focus, 
#forgot-password-modal #password-reset .form-actions button[type='submit']:focus, 
.view-survey .action-primary:focus,
.header-global .nav-courseware li .btn, 
.header-global .nav-courseware div .btn, 
.login .form-actions button[type="submit"], 
.register .form-actions button[type="submit"], 
.passwordreset .form-actions button[type="submit"], 
#forgot-password-modal #password-reset .form-actions button[type="submit"], 
.view-survey .action-primary {
    background-color: #193050;
    font-family: $myriad_regular;
}

//styles img slyder
.home{
    header {
        .outer-wrapper {
            padding: 0;
            .title {
                background-color: $naranja_banner_bs;
                box-shadow: none;
                margin: 0;
                min-height:0;
                padding: 0px;
                text-align: center;
                width: 100%;
                .heading-group {
                    padding: 0px;
                    img {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .highlighted-courses {
        margin-bottom: 5px;
    }
}

.course {
    background-color: $blanco;
}

.course-info {
    header.course-profile {
        background-color: $blanco;
        border: none;
        box-shadow: none;
        height: 100%;
        font-family: $myriad_regular;
        font-size: 14pt;
        padding: 60px 0;
        .intro-inner-wrapper {
            border: 2px solid $fondo_footer_bs;
            border-radius: 10px;
            box-shadow: none;
            .table {
                .intro {
                    .heading-group h1 {
                        font-family: $myriad_regular;
                    }
                    .course-organization-name-about {
                        background-color: $azul_organizacion_bs;
                        background-image: none;
                        border: none;
                        box-shadow: none;
                        color: white;
                        font-family: $myriad_regular;
                        font-size: 18pt;
                        font-weight: bold;
                        padding: 0 15px;
                        // padding: 10px 15px;
                        vertical-align: middle;
                        text-shadow: none;
                        text-transform: capitalize;
                    }
                    .main-cta > a.register, .main-cta > a > strong {
                        background: $naranja_bs;
                        border: none;
                        border-radius: 5px;
                        box-shadow: none;
                        font-family: $myriad_regular;
                        font-size: 20px;
                        font-weight: bold;
                        margin: 0 auto;
                        text-shadow: none;
                    }
                }
                .media {
                    vertical-align: middle;
                    z-index: 1;
                    .hero {
                        border: none;
                    }
                }
            }
        }
    }
    .course-profile-XMRBR101, .course-profile-XMRES101 {
        background-image: url("../images/background-XMRxx101.png") !important;
        background-position: right !important;
    }
    .course-organization-name-XMRBR101, .course-organization-name-XMRES101 {
        display: none;
    }

    .container {
        background-color: $blanco;
        border-top: 1px solid $fondo_footer_bs;
        .details {
            font-size: 15px;
            font-family: $myriad_regular;
            .inner-wrapper {
                //clases genericas
                h1, h2, h3, h4, h5, h5, span, p, div, ul, li, ol {
                    font-family: $myriad_regular !important;
                }
                //

                h2 {
                    color: $letra_celeste_bs;
                    font-family: $myriad_bold !important;
                }
                .prerequisites ul li {
                    font-family: $myriad_regular;
                }
                .course-staff, .Meet.the.instructors {
                    font-family: $myriad_regular;
                    .teacher {
                        border: 1px solid $fondo_footer_bs;
                        font-family: $myriad_regular;
                        padding: 20px;
                        margin: 0;
                        h3 {
                            color: $naranja_bs;
                            font-family: $myriad_regular;
                        }
                        .teacher-highlighted {
                            text-align: center;
                        }
                        .teacher-image {
                            background: $letra_celeste_bs;
                            border-radius: 15px;
                            border: 1px solid $letra_celeste_bs;
                            
                            height: 115px;
                            float: left;
                            margin: 0 15px 0px 0;
                            overflow: hidden;
                            padding: 1px;
                            width: 115px;
                            img {
                                border-radius: 12px;
                            }
                        }
                        .teacher-position {

                        }
                        .teacher-company {
                            color: $gris_letra_bs;
                        }
                    }
                }
            }
        }
        .course-sidebar {
            header .social-sharing {
                z-index: 1;
                .share{
                    opacity: 1;
                    img {
                        width: 30px;
                    }
                }
            }
            .important-dates li .important-dates-item-title {
                font-family: $myriad_regular !important;
            }
        }
    }
}

// styles tos
.tos-body {
    font-size: 14px;
    text-align: justify; 
}

//styles accounn activation
.container.activation {
    .message {
        box-shadow: none;
        background: $gris_fondo;
        border: 1px solid $gris_borde;
        h1, h1.valid {
            background: $naranja_fuerte;
            border: 1px solid $naranja_fuerte;
            border-radius: 10px;
            color: $blanco;
            font-family: $myriad_bold;
            margin: 0 auto;
            width: 80%;
        }
        p {
            font-family: $myriad_regular !important;
            padding-top: 25px;
            text-align: center;
            a {
                color: $celeste_enlace;
            }
        }
    }
}
// .wrapper-msg.urgency-high {
//     background: $fondo_footer_bs;
//     .msg{
//         color: $celeste_letra_bs;
//     }
// }
//modal video
#modal_clone {
    height: 335px !important;
    .inner-wrapper {
        padding: 0px !important;
    }
}

//estilo pagos matricula
#prueba {
    height: 100px;
}

#ModalSeleccion { 
    background-color: rgba(0, 0, 0, 0.5);
    color: $letra_gris;
    font-family: $myriad_regular !important;
    font-size: 14px;
    width: 100%;
    h3 {
        color: $letra_gris;
        font-family: $myriad_regular !important;
        padding-left: 15px;
        font-style: normal;
    }
    label {
        color: $letra_gris;
        font-family: $myriad_regular !important;
        font-size: 13px;
        font-style: normal;
        padding-left: 0px;
    }
    input {
        font-family: $myriad_regular !important;
        font-size: inherit;
        font-style: normal;
    }
    .modal-content {
        border-radius: unset;
        .modal-header {
            background: $verde_fondo_pago;
            border-bottom: 2px solid $gris_borde_pago;
            text-align: center;
            h4 {
                font-family: $myriad_regular !important;
                color: $blanco !important;
                font-weight: bold;
            }
        }
    }
    hr {
        background: $gris_borde_pago;
        border: none;
        height: 2px;
        margin-left: 6%;
        width: 88%;
    }
    #ContenedorFormulario {
        #TextoPago {
            color: $verde_texto_pago;
            font-size: 25px;
            font-weight: bold;
            padding: 10px;
            text-align: center;
            // text-transform: uppercase;
        }
        input, select {
            border-radius: 0px !important;
        }
        img {
            padding-left: 5px;
        }
    }
}

#ModalPago, #ModalMatricula {
    width: 100%;
}
.modal-backdrop {
    display: none;
}

.boton-pago {
    background: $naranja_bs;
    border-radius: 5px;
    color: white !important;
    display: block;
    font-weight: bold;
    margin: 0 auto;
    max-width: 40%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
#Boton-ComprarCurso {
    background: $naranja_bs;
    border: none;
    border-radius: 5px;
    color: white !important;
    font-family: $myriad_regular !important;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

#cuadroMensajes {
    padding: 15px;
}
.border-warning {
    border: 1px solid red !important;
}
#Opciones {
    min-height: 40px;
    .radio {
        text-align: center;
        text-transform: uppercase;
        label {
            font-family: $myriad_regular !important;
            font-size: 15px;
            font-style: normal;
        }
    }
}

//login
.login-register .section-title.lines .text {
    background-color: $gris_fondo;
    color: $naranja_fuerte;
    font-weight: bold;
}
.login-register .form-field label, .financial-assistance-wrapper .financial-assistance-form .form-field label, .login-register .form-field input, .financial-assistance-wrapper .financial-assistance-form .form-field input, .login-register .form-field textarea, .financial-assistance-wrapper .financial-assistance-form .form-field textarea, .login-register .form-field .tip, .login-register .form-field .field-link, button, .button, span, .login-register h2, select, input, textarea, .login-register .note, .login-register .action-label, .login-register .status .message-title, .login-register .status .message-copy {
    font-family: $myriad_regular;
}
#login-form, #password-reset-form, #register-form, #password-reset-confirm-form {
    #login, #password-reset, #register, #passwordreset-form {
        background-color: $gris_fondo;
        border: 1px $gris_borde solid;
        padding: 30px;
        .section-title.lines, .section-title.lines::after {
            content: none !important;
            h2 .text {
                background-color: $gris_fondo !important;
                color: $naranja_fuerte !important;
                font-weight: bold !important;
            }
        }
        button {
            text-shadow: none;
        }
        button.forgot-password {
            color: $celeste_enlace;
        }
        .supplemental-link>a {
            color: $letra_celeste_bs;
        }
        button.login-button, button.js-reset, button.register-button {
            background: $naranja_fuerte;
            box-shadow: none;                
            margin-left: 25%;
            width: 50%;
        }
    }
}

//mensajes dashboard
.dashboard-notifications {
    .dashboard-banner {
        .wrapper-msg, .wrapper-msg.urgency-high {
            background: none;
            .msg {
                border: none;
                padding: 0px;
                font-family: $myriad_regular;
                .msg-content {
                    background: $verde_mensaje_fondo;
                    color: $letra_gris;
                    border-bottom: 2px solid $verde_mensaje_borde;
                    padding: 25px;
                    .title {
                        color: $verde_mensaje_borde;
                        font-family: $myriad_regular;
                    }
                    .copy, .copy p {
                        font-family: $myriad_regular;
                    }
                }
            }
        }
        .urgency-high {

        }
    }
}