@import 'colors';
@import 'fonts';
@import 'header';
@import 'footer';

body {
    font-family: $myriad_regular;
    font-size: 13pt;
}

.content-wrapper {
    background-color: $blanco;
    margin-top: 30px;

    //etilos dashboard
    #dashboard-main {
        #my-courses {
            .wrapper-header-courses .header-courses {
                color: $naranja_bs;
                font-weight: bold;
            }
            .listing-courses {
                .course-item .course-container .course .details {
                    .wrapper-course-details .wrapper-course-actions .enter-course{
                        float: right;
                        background: $naranja_bs;
                        border: 1px solid $naranja_bs;
                        color: $blanco;
                    }
                }
            }
        }
    }
    
}

.home > header {
    // background-color: #5e0000;
    background-color: $naranja_banner_bs;
}

.title > .heading-group > h1 {
    text-align: center;
}

section > .course-profile{
    height: initial;
    padding-top: 10px;
    padding-bottom: 10px;
}

.courses-container .courses .course {
    // border-bottom-color: #5e0000;
    border-bottom-color: $blanco_fondo_bs;
}

.courses-container .courses .course .course-image .cover-image {
    // background-color: #193050
    background-color: $blanco;
}

.learn-more {
    background-color: $azul_bs;
}

.highlighted-courses .courses .course, 
.find-courses .courses .course {
    // border-color: #a9bbd3
    background-color: $blanco;
    border-color: $blanco_fondo_bs;
}

.header-global .nav-courseware li .btn, 
.header-global .nav-courseware div .btn, 
.login .form-actions button[type='submit'], 
.register .form-actions button[type='submit']:hover, 
.passwordreset .form-actions button[type='submit']:hover, 
#forgot-password-modal #password-reset .form-actions button[type='submit']:hover, 
.view-survey .action-primary:hover, 
.header-global .nav-courseware li .btn:active, 
.header-global .nav-courseware div .btn:active, 
.login .form-actions button[type='submit']:active, 
.register .form-actions button[type='submit']:active, 
.passwordreset .form-actions button[type='submit']:active, 
#forgot-password-modal #password-reset .form-actions button[type='submit']:active, 
.view-survey .action-primary:active, 
.header-global .nav-courseware li .btn:focus, 
.header-global .nav-courseware div .btn:focus, 
.login .form-actions button[type='submit']:focus, 
.register .form-actions button[type='submit']:focus, 
.passwordreset .form-actions button[type='submit']:focus, 
#forgot-password-modal #password-reset .form-actions button[type='submit']:focus, 
.view-survey .action-primary:focus,
.header-global .nav-courseware li .btn, 
.header-global .nav-courseware div .btn, 
.login .form-actions button[type="submit"], 
.register .form-actions button[type="submit"], 
.passwordreset .form-actions button[type="submit"], 
#forgot-password-modal #password-reset .form-actions button[type="submit"], 
.view-survey .action-primary {
    background-color: #193050
}

//estilos img slyder
.home{
    header {
        .outer-wrapper {
            padding: 0;
            .title {
                background-color: $naranja_banner_bs;
                box-shadow: none;
                margin: 0;
                min-height:0;
                padding: 0px;
                text-align: center;
                width: 100%;
                .heading-group {
                    padding: 0px;
                    img {
                        // width: 100%;
                    }
                }
            }
        }
    }
}

.course {
    background-color: $blanco;
}

.course-info {
    header.course-profile {
        background-color: $blanco;
        border: none;
        box-shadow: none;
        height: 100%;
        font-family: $myriad_regular;
        font-size: 14pt;
        padding: 60px 0;
        .intro-inner-wrapper {
            border: 2px solid $fondo_footer_bs;
            border-radius: 10px;
            box-shadow: none;
            .table {
                .intro {
                    .course-organization-name-about {
                        background-color: $azul_organizacion_bs;
                        background-image: none;
                        border: none;
                        box-shadow: none;
                        font-family: $myriad_regular;
                        font-size: 18pt;
                        font-weight: bold;
                        padding: 10px 15px;
                        vertical-align: middle;
                        text-shadow: none;
                        text-transform: capitalize;
                    }
                    .main-cta > a.register, .main-cta > a > strong {
                        background: $naranja_bs;
                        border: none;
                        border-radius: 5px;
                        box-shadow: none;
                        font-weight: bold;
                        margin: 0 auto;
                        text-shadow: none;
                    }
                }
                .media {
                    vertical-align: middle;
                    .hero {
                        border: none;
                    }
                }
            }
        }
    }
    .course-profile-XMRBR101, .course-profile-XMRES101 {
        background-image: url("../images/background-XMRxx101.png") !important;
        background-position: right !important;
    }
    .course-organization-name-XMRBR101, .course-organization-name-XMRES101 {
        display: none;
    }

    .container {
        background-color: $blanco;
        border-top: 1px solid $fondo_footer_bs;
        .details {
            font-size: 13pt;
            font-family: $myriad_regular;
            .inner-wrapper {
                h2 {
                    color: $letra_celeste_bs;
                    font-family: $myriad_bold;
                }
                .course-staff {
                    .teacher {
                        border: 1px solid $fondo_footer_bs;
                        padding: 20px;
                        margin: 0;
                        h3 {
                            color: $naranja_bs;
                        }
                        .teacher-highlighted {
                            text-align: center;
                        }
                        .teacher-image {
                            background: $letra_celeste_bs;
                            border-radius: 15px;
                            border: 1px solid $letra_celeste_bs;
                        }
                        .teacher-position {

                        }
                        .teacher-company {
                            color: $gris_letra_bs;
                        }
                    }
                }
            }
        }
        .course-sidebar {
            header .social-sharing .share{
                opacity: 1;
                img {
                    width: 30px;
                }
            }
        }
    }
}

// estilos tos
.tos-body {
    font-size: 14px;
    text-align: justify; 
}
