@import 'colors';
@import 'fonts';
@import 'header';
@import 'footer';

body.view-in-course{
    background: $blanco;
}
.content-wrapper {
    margin-top: 60px;
}
.course-naming {
    display: block !important;  
}   