@import 'colors';
@import 'fonts';
@import 'header';
@import 'footer';

body {
    font-family: $myriad_regular;
    font-size: 15px;
    height: 100%;
}
body.view-in-course{
    background: $blanco;
}
.content-wrapper {
    margin-top: 60px;
}
.course-naming {
    display: block !important;
    p {
        font-family: $myriad_regular;
    }
}   