@import 'colors';
@import 'fonts';
@import 'header';
@import 'footer';

body {
    font-family: $myriad_regular;
    font-size: 15px;
    height: 100%;
}
body.view-in-course{
    background: $blanco;
}
.content-wrapper {
    margin-top: 60px;
}
.course-naming {
    display: block !important;
    p {
        font-family: $myriad_regular;
    }
}
.wrapper-course-material .course-tabs {
    float: left;
}
#Boton-ComprarCurso {
    float: right;
}
//temporal
.home {
    max-width: 1180px !important;
    padding: 0px 20px 10px 20px;
}