.home>header {}

.home>header .outer-wrapper {}

.wrapper-footer footer .site-nav {
    display: none;
}
.wrapper-footer footer .legal-nav {
    display: none;
}

.global-header .header-logo a .logo {
    height: 55px;
}