<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        
        <h1>Termos e condições de uso do portal</h1>
        <h1>Green Tecnologia</h1>

        <div id="tos-content">
            <ol>
                <li>
                    <b>Introdução </b>
                    <p>
                        A GREEN TECNOLOGIA, doravante denominada apenas GREEN, convida você a participar de nossa plataforma de ensino à distância, e apresenta, a seguir, os Termos e Condições que regem sua utilização.
                    </p>
                    <p>
                        A GREEN é um centro de soluções e capacitação em TI que está há mais de três décadas qualificando e formando profissionais para o mercado. Com um leque de mais de 300 cursos, já treinamos mais de 272.000 alunos particulares e mais de 66.000 empresas. Oferecemos Treinamentos na própria sede, in-company, online (videoaula) e LIVE (à distância – ao vivo).
                    </p>
                    <p>
                        Para você ter acesso é obrigatória a criação de uma conta dentro da plataforma. A partir daí você terá à sua disposição diversos treinamentos em tecnologias atuais de Inteligência Artificial, na área de nuvem da Microsoft (Azure) e muito mais!
                    </p>
                </li>

                <li>
                    <b>Confiabilidade da Informação </b>
                    <p>
                        A GREEN assegura que as informações fornecidas no portal sejam corretas, completas e atuais. No entanto, a GREEN não assume a responsabilidade pela utilização, aplicação ou processamento que os USUÁRIOS possam realizar em relação às mencionadas informações cadastrais em desconformidade com a natureza e função das mesmas.
                    </p>
                    <p>
                        As informações contidas no portal poderão ser atualizadas ou modificadas periodicamente pela GREEN. Não devendo estas informações serem interpretadas como definitivas. A GREEN poderá alterar a forma e o conteúdo, bem como suspender ou cancelar, a seu exclusivo critério, a qualquer tempo, quaisquer utilidades, aplicações, serviços, ou produtos disponibilizados no site.
                    </p>
                    <p>
                        O conteúdo disponibilizado neste site tem propósito exclusivamente informativo, não consistindo em recomendações vocacionais, socioemocionais, educativas, financeiras, legais, fiscais, contábeis ou de qualquer outra natureza. A utilização deste material é de inteira responsabilidade do USUÁRIO. A GREEN não assegura quaisquer resultados a partir das informações fornecidas, em razão do caráter meramente informativo dessas informações.
                    </p>
                    <p>
                        A GREEN envidará seus melhores esforços no sentido de manter as informações e materiais contidos neste site tão precisos, atualizados e completos quanto possível.
                    </p>
                </li>

                <li>
                    <b>Utilização do Portal e de seus links</b>
                    <p>
                        Em nenhuma hipótese a GREEN se responsabiliza pelo uso do portal ou de acesso a links nele indicados, bem como por atos praticados por USUÁRIOS que tenham por base informações obtidas nos links.
                    </p>
                </li>

                <li>
                    <b>Direitos autorais e propriedade intelectual</b>
                    <p>
                        Os textos, fotografias, imagens, logomarcas e sons presentes e publicados no portal se encontram protegidos por direitos autorais ou outros direitos de propriedade intelectual.
                    </p>
                    <p>
                        Ao acessar o portal, o USUÁRIO declara que irá respeitar todos os direitos de propriedade intelectual e industrial, os decorrentes da proteção de marcas registradas, bem como todos os direitos referentes a terceiros que por ventura estejam, ou estiveram, de alguma forma disponíveis no portal, incluindo, artigos, documentos, aplicativos e notícias.
                    </p>
                    <p>
                        O simples acesso ao portal não confere ao USUÁRIO qualquer direito de uso dos nomes, títulos, palavras, frases, marcas, patentes, citações, conteúdos, artigos, publicações, obras literárias, dentre outras, que nele estejam, ou estiveram, disponíveis.
                    </p>
                    <p>
                        É vedada a utilização do portal ou das informações nele inseridas, sem autorização, para finalidades comerciais, publicitárias ou qualquer outra que contrarie a realidade para o qual foi concebido conforme definido neste Termo. Restam igualmente proibidas a reprodução, distribuição e divulgação, total ou parcial, dos textos, figuras, gráficos que compõem o portal, sem prévia e expressa autorização da GREEN, sendo permitida somente a impressão de cópias para uso e arquivo pessoal, sem que sejam separadas as partes que permitam dar o fiel e real entendimento de seu conteúdo e objetivo.
                    </p>
                    <p>
                        A GREEN se reserva o direito de utilização dos dados cadastrais armazenados para ações de relacionamento da GREEN com os USUÁRIOS do portal, respeitada a Política de Privacidade.
                    </p>
                </li>

                <li>
                    <b>Cadastro do USUÁRIO, Senha e Segurança</b>
                    <p>
                        Para que os USUÁRIOS possam desfrutar dos benefícios prestados pelo portal, faz-se necessário realizar um cadastro.
                    </p>
                    <p>
                        O USUÁRIO, nestes Termos de Uso, concorda em: 
                    </p>
                    <ul>
                        <li>Fornecer informações verdadeiras, exatas, atuais e completas sobre si mesmo quando do registro no formulário específico para acesso ao portal;</li>
                        <li>Conservar e atualizar imediatamente tais informações de Registro para mantê-las verdadeiras, exatas, atuais e completas.</li>
                    </ul>
                    <p>
                        O USUÁRIO deverá informar seu próprio endereço eletrônico a ser utilizado para sua identificação no portal e recebimento de mensagens advindas de seu cadastro no referido site. O USUÁRIO deverá também criar uma senha, sendo inteiramente responsável pela confidencialidade da mesma, bem como de qualquer atividade que ocorra no âmbito de seu cadastro. O USUÁRIO pode alterar sua senha a qualquer momento. Tanto o endereço eletrônico informado pelo USUÁRIO quanto a senha por ele criada, serão utilizados para a identificação do mesmo e permissão de acesso ao portal. 
                    </p>
                    <p>
                        Os USUÁRIOS menores de 18 (dezoito anos) precisam ser representados ou assistidos, conforme o caso, pelos seus pais ou responsáveis legais para fazer o cadastro. 
                    </p>
                    <p>
                        As informações da conta dos USUÁRIOS são protegidas por senha para a sua segurança e privacidade. Em algumas áreas usamos a criptografia SSL, o padrão da indústria, para proteger transmissões de dados.
                    </p>
                    <p>
                        O USUÁRIO concorda em notificar imediatamente a GREEN sobre qualquer uso não-autorizado de seu login (identificação do USUÁRIO para acesso ao portal, mediante o preenchimento de seu endereço eletrônico pessoal e senha criada no portal) ou qualquer quebra de segurança de seu conhecimento.
                    </p>
                    <p>
                        Faz parte de nossa política respeitar a privacidade de nossos USUÁRIOS. A GREEN não irá, portanto, monitorar, editar ou divulgar informações privativas de seus USUÁRIOS, sem autorização prévia, exceto nos casos expressamente previstos nos termos da Política de Privacidade ou a menos que sejamos obrigados a fazê-lo mediante ordem judicial ou por força de lei.
                    </p>
                    <p>
                        O USUÁRIO autoriza expressamente a GREEN a comunicar-se com o mesmo por meio de todos os canais de comunicação disponíveis, incluindo correio eletrônico (e-mail), celular, SMS, entre outros.
                    </p>
                </li>

                <li>
                    <b>É de inteira responsabilidade do USUÁRIO:</b>
                    <ul>
                        <li>Efetuar seu próprio cadastro no portal, responsabilizando-se pela correção e veracidade dos dados informados, assim como pela guarda de sua senha de acesso;</li>
                        <li>Manter o ambiente de seu computador seguro, com uso de ferramentas disponíveis como antivírus e firewall, entre outras, atualizadas, de modo a contribuir na prevenção de riscos eletrônicos por parte dos USUÁRIOS.</li>
                    </ul>                    
                </li>

                <li>
                    <b>Modificações destes Termos e Condições</b>
                    <p>
                        A GREEN reserva-se o direito de modificar a qualquer momento, visando uma melhoria contínua, de forma unilateral, o presente Termo e Condições de Uso. Ao navegar pelo portal, o USUÁRIO concorda com os Termos e Condições que se encontram vigentes na data e, portanto, deve verificar os mesmos previamente cada vez que visitar o portal.
                    </p>
                </li>

                <li>
                    <b>Exclusão de garantias e de responsabilidade</b>
                    <p>
                        Em decorrência de questões operacionais e de terceirização de serviços, o portal e os seus serviços estão sujeitos a eventuais problemas de interrupção, falha técnicas, ou indisponibilidade de funcionamento temporário. Quando for razoavelmente possível, a GREEN advertirá previamente as interrupções do funcionamento do portal aos seus USUÁRIOS.
                    </p>
                    <p>
                        A GREEN se exime, com toda a extensão permitida pelo ordenamento jurídico, de qualquer responsabilidade pelos danos e prejuízos de toda natureza que possam decorrer da falta de disponibilidade ou de continuidade do funcionamento do portal, à defraudação da utilidade que os USUÁRIOS possam ter atribuído ao site e aos serviços, à falibilidade do site e dos serviços e, em particular, ainda que não de modo exclusivo, às falhas de acesso às distintas páginas web que compõem a plataforma ou em que se prestam os serviços.
                    </p>
                    <p>
                        O USUÁRIO está ciente de que a GREEN e/ou o portal não será(ão) responsável(eis) por:
                    </p>
                    <ul>
                        <li>Quaisquer danos diretos, indiretos, incidentais, especiais, consequenciais ou exemplares, incorridos pelo USUÁRIO, causados e sob qualquer teoria de responsabilidade, incluindo, mas não se limitando a, qualquer perda de lucros (incorrida direta ou indiretamente), qualquer perda relacionada com a boa-fé ou reputação comercial, qualquer perda de dados que o usuário possa sofrer, custos de aquisição de bens ou serviços ou outra perda intangível;</li>
                        <li>
                            Qualquer perda ou danos em que o usuário possa incorrer, inclusive, mas não se limitando a, perda ou danos em decorrência de:
                            <ul>
                                <li>Qualquer expectativa do USUÁRIO quanto à integridade, precisão ou existência de qualquer publicidade, ou em resultado de qualquer relação ou transação realizada com qualquer anunciante ou patrocinador cuja publicidade apareça nos serviços;</li>
                                <li>Quaisquer alterações que A GREEN possa fazer aos serviços, ou por qualquer cessação permanente ou temporária do fornecimento dos serviços (ou quaisquer funcionalidades nos próprios serviços);</li>
                                <li>Eliminação, corrupção ou incapacidade de armazenamento de qualquer conteúdo ou outros dados de comunicações mantidos ou transmitidos por ou através da utilização dos serviços por parte do USUÁRIO;</li>
                                <li>Não fornecimento a GREEN, por parte do USUÁRIO, de informações corretas relativas à conta;</li>
                                <li>Não manutenção, por parte do USUÁRIO, da segurança e da confidencialidade dos detalhes da sua conta e senha.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>
                        <b>As limitações de responsabilidade da GREEN perante o USUÁRIO, mencionadas acima, serão aplicáveis independentemente de a GREEN ter ou não sido notificada ou ainda que devesse ter conhecimento da possibilidade de ocorrência de tais perdas.</b>
                    </p>
                </li>

                <li>
                    <b>Uso dos Serviços pelo USUÁRIO</b>
                    <p>
                        Para acessar determinados Serviços, poderá ser solicitado ao USUÁRIO que forneça informações pessoais (tais como identificação ou detalhes de contato) como parte do processo de registro para o Serviço ou como parte da utilização continuada dos Serviços por parte do USUÁRIO. O USUÁRIO declara a veracidade, exatidão e atualização das informações de registro que fornecer a GREEN.
                    </p>
                    <p>
                        O USUÁRIO concorda em usar os serviços somente para os fins permitidos: por estes Termos, e quaisquer leis, regulamentos ou práticas ou diretrizes geralmente aceitas nas jurisdições relevantes.
                    </p>
                    <p>
                        O USUÁRIO concorda em não acessar (nem tentar acessar) qualquer um dos Serviços por qualquer meio que não seja através da interface fornecida pela GREEN, exceto se for especificamente autorizado a tal.
                    </p>
                    <p>
                        O USUÁRIO concorda especificamente em não acessar (nem tentar acessar) qualquer um dos Serviços por meio de meios automatizados (inclusive uso de scripts ou rastreadores da web).
                    </p>
                    <p>
                        O USUÁRIO concorda em não participar de nenhuma atividade que interfira ou interrompa o funcionamento dos Serviços (ou servidores e redes conectados aos Serviços).
                    </p>
                    <p>
                        O USUÁRIO concorda em não reproduzir, duplicar, copiar, vender, comercializar ou revender os Serviços constantes do portal.
                    </p>
                    <p>
                        O USUÁRIO concorda que será o único responsável (e que a GREEN não tem qualquer responsabilidade perante o USUÁRIO ou terceiros) por qualquer não cumprimento das suas obrigações no que diz respeito aos termos deste instrumento e pelos prejuízos causados a GREEN em razão desse inadimplemento.
                    </p>
                    <p>
                        O USUÁRIO poderá responder civil e/ou penalmente por qualquer ilícito advindo de sua ação e/ou omissão nesse portal da Green Tecnologia.
                    </p>
                </li>

                <li>
                    <b>Dúvidas</b>
                    <p>
                        Caso tenha qualquer dúvida em relação ao presente documento, favor entrar em contato através do Fale conosco da GREEN TECNOLOGIA (<a href="https://www.green.com.br">www.green.com.br</a>).
                    </p>
                </li>
            </ol>
        </div>
        
    </section>
</main>
