<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        
        <h1>POLÍTICA DE PRIVACIDADE DA GREEN TECNOLOGIA</h1>
    
        <div id="privacy-policy-content">
            <p><b>Informações gerais</b></p>
            
            <p>
                A presente Política de Privacidade contém informações a respeito do modo como tratamos, total ou parcialmente, de forma automatizada ou não, os dados pessoais dos usuários que usam os serviços da <b>Green Tecnologia</b>. Seu objetivo é esclarecer os interessados acerca dos tipos de dados que são coletados, dos motivos da coleta e da forma como o usuário poderá atualizar, gerenciar ou excluir estas informações. <br>
                Esta Política de Privacidade foi elaborada em conformidade com a <b>Lei Federal nº 12.965 de 23 de abril de 2014</b> (Marco Civil da Internet), com a <b>Lei Federal nº 13.709, de 14 de agosto de 2018</b> (Lei de Proteção de Dados Pessoais) e com o <b>Regulamento UE nº 2016/679 de 27 de abril de 2016 (Regulamento Geral Europeu de Proteção de Dados Pessoais - RGDP).</b> <br>
                Esta Política de Privacidade poderá ser atualizada em decorrência de eventual atualização normativa.
            </p>

            <p><b>Direitos do usuário</b></p>
            <p>
                A Green Tecnologia se compromete a cumprir as normas previstas no RGPD, em respeito aos seguintes princípios:
            </p>
            <ul>
                <li>Os dados pessoais do usuário serão processados de forma lícita, leal e transparente (licitude, lealdade e transparência);</li>
                <li>Os dados pessoais do usuário serão coletados apenas para finalidades determinadas, explicitas e legítimas, não podendo ser tratados posteriormente de uma forma incompatível com essas finalidades (limitação das finalidades);</li>
                <li>Os dados pessoais do usuário serão coletados de forma adequada, pertinente e limitada às necessidades do objetivo para os quais eles são processados (minimização dos dados);</li>
                <li>Os dados pessoais do usuário serão exatos e atualizados sempre que necessário, de maneira que os dados inexatos sejam apagados ou retificados quando possível (exatidão);</li>
                <li>Os dados pessoais do usuário serão conservados de uma forma que permita a identificação dos titulares dos dados apenas durante o período necessário para as finalidades para as quais são tratados (limitação da conservação);</li>
                <li>Os dados pessoais do usuário serão tratados de forma segura, protegidos do tratamento não autorizado ou ilícito e contra a sua perda, destruição ou danificação acidental, adotando as medidas técnicas ou organizativas adequadas (integridade e confidencialidade).</li>
            </ul>
            <p>
                O usuário da Green Tecnologia possui os seguintes direitos, conferidos pela Lei de Proteção de Dados Pessoais e pelo RGPD:
            </p>
            <ul>
                <li><b>Direito de confirmação e acesso</b>: é o direito do usuário de obter da Green Tecnologia a confirmação de que os dados pessoais que lhe digam respeito são ou não objeto de tratamento e, se for esse o caso, o direito de acessar os seus dados pessoais;</li>
                <li><b>Direito de retificação</b>: é o direito do usuário de obter da Green Tecnologia, sem demora injustificada, a retificação dos dados pessoais inexatos que lhe digam respeito;</li>
                <li><b>Direito à eliminação dos dados (direito ao esquecimento)</b>: é o direito do usuário de ter seus dados apagados da Green Tecnologia;</li>
                <li><b>Direito à limitação do tratamento dos dados</b>: é o direito do usuário de limitar o tratamento de seus dados pessoais, podendo obtê-la quando contesta a exatidão dos dados, quando o tratamento for ilícito, quando a Green Tecnologia não precisar mais dos dados para as finalidades propostas e quando tiver se oposto ao tratamento dos dados e em caso de tratamento de dados desnecessários;</li>
                <li><b>Direito de oposição</b>: é o direito do usuário de, a qualquer momento, se opor por motivos relacionados com a sua situação particular, ao tratamento dos dados pessoais que lhe digam respeito, podendo se opor ainda ao uso de seus dados pessoais para definição de perfil de marketing (<i>profiling</i>);</li>
                <li><b>Direito de portabilidade dos dados</b>: é o direito do usuário de receber os dados pessoais que lhe digam respeito e que tenha fornecido à Green Tecnologia, num formato estruturado, de uso corrente e de leitura automática, e o direito de transmitir esses dados a outra organização. Neste caso, o Usuário, solicita a portabilidade de dados à empresa a qual ele firmará negócio. A empresa notifica a Green Tecnologia sobre a solicitação de portabilidade do Usuário. A Green Tecnologia entra em contato com o Usuário e formaliza o consentimento através de e-mail; depois envia os dados para a empresa indicada pelo Usuário.</li>
                <li><b>Direito de não ser submetido a decisões automatizadas</b>: é o direito do usuário de não ficar sujeito a nenhuma decisão tomada exclusivamente com base no tratamento automatizado, incluindo a definição de perfis (<i>profiling</i>), que produza efeitos na sua esfera jurídica ou que o afete significativamente de forma similar.</li>
            </ul>

            <p><b>Tipos de dados coletados</b></p>
            <p>
                <i>Dados de identificação do usuário para realização de cadastro</i>
            </p>
            <p>
                A utilização, pelo usuário, de determinados serviços da Green Tecnologia dependerá de cadastro, sendo que, nestes casos, os seguintes dados do usuário serão coletados e armazenados:
            </p>
            <p>
                <i>Dados informados no formulário de contato</i>
            </p>
            <p>
                Os dados eventualmente informados pelo usuário que utilizar o formulário de contato disponibilizado pela Green Tecnologia, incluindo o teor da mensagem enviada, serão coletados e armazenados.
            </p>
            <p>
                <i>Dados relacionados à execução de contratos firmados com o usuário</i>
            </p>
            <p>
                Para a execução do <b>Termo de Responsabilidade</b> (documento assinado pelo usuário que descreve a aquisição de produtos ou a prestação de serviços) eventualmente firmado entre a Green Tecnologia e o usuário, poderão ser coletados e armazenados outros dados relacionados ou necessários a sua execução, incluindo o teor de eventuais comunicações tidas com o usuário.
            </p>
            <p>
                <i>Registros de acesso</i>
            </p>
            <p>
                Em atendimento às disposições do art. 15, caput e parágrafos, da Lei Federal nº 12965/2014 (Marco Civil da Internet), os registros de acesso do usuário serão coletados e armazenados por, pelo menos, 6 (seis) meses, ao fazer uso dos ambientes <b>KONVIVA</b> (plataforma de e-learning) e <b>CENTRAL DO ALUNO</b> (área restrita no site <a href="https://www.green.com.br">www.green.com.br</a>).
            </p>
            <p>
                <i>Dados sensíveis</i>
            </p>
            <p>
                A Green Tecnologia poderá coletar os seguintes dados sensíveis dos usuários:
            </p>
            <ul>
                <li>Nome completo;</li>
                <li>Endereço completo;</li>
                <li>RG;</li>
                <li>CPF;</li>
                <li>Telefone(s) para contato;</li>
                <li>E-mail (correio eletrônico);</li>
            </ul>

            <p><b>Fundamento jurídico para o tratamento dos dados pessoais</b></p>
            <p>
                Ao utilizar os serviços da Green Tecnologia, o usuário está consentindo com a presente Política de Privacidade. <br>
                O usuário tem o direito de retirar seu consentimento a qualquer momento, não comprometendo a licitude do tratamento de seus dados pessoais antes da retirada. A retirada do consentimento poderá ser feita através dos e-mails <a href="mailto:emerson.chicarelli@green.com.br">emerson.chicarelli@green.com.br</a> e <a href="mailto:lgpd@green.com.br">lgpd@green.com.br</a> ou por correio enviado ao seguinte endereço: Av. Paulista, nº 326, 12º andar, Bela Vista, CEP.: 01310-000, SP/SP, Departamento de Logística, A/C do Sr. <b>EMERSON CHICARELLI MARIANO</b>. <br>
                O consentimento dos relativamente ou absolutamente incapazes, especialmente de crianças menores de 16 (dezesseis) anos, apenas poderá ser feito, respectivamente, se devidamente assistidos ou representados por responsável legal. <br>
                Poderão ainda ser coletados dados pessoais do responsável legal necessários para a execução e cumprimento dos serviços contratados pelo usuário na Green Tecnologia. <br>
                O tratamento de dados pessoais sem o consentimento do usuário apenas será realizado em razão de interesse legítimo ou para as hipóteses previstas em lei, ou seja, dentre outras, as seguintes:
            </p>
            <ul>
                <li>para o cumprimento de obrigação legal ou regulatória pelo controlador;</li>
                <li>para a realização de estudos por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</li>
                <li>quando necessário para a execução de contrato ou de procedimentos preliminares relacionados a contrato do qual seja parte o usuário, a pedido do titular dos dados;</li>
                <li>para o exercício regular de direitos em processo judicial, administrativo ou arbitral, esse último nos termos da <b>Lei no 9.307, de 23 de setembro de 1996 (Lei de Arbitragem)</b>;</li>
                <li>para a proteção da vida ou da incolumidade física do titular dos dados ou de terceiros;</li>
                <li>para a tutela da saúde, em procedimento realizado por profissionais da área da saúde ou por entidades sanitárias;</li>
                <li>quando necessário para atender aos interesses legítimos do controlador ou de terceiros, exceto no caso de prevalecerem direitos e liberdades fundamentais do titular dos dados que exijam a proteção dos dados pessoais;</li>
                <li>para a proteção do crédito, inclusive quanto ao disposto na legislação pertinente.</li>
            </ul>

            <p>
                <b>Finalidades do tratamento dos dados pessoais</b>
            </p>
            <p>
                Os dados pessoais do usuário coletados pela Green Tecnologia têm por finalidade facilitar, agilizar e cumprir os compromissos estabelecidos com o usuário e a fazer cumprir as solicitações realizadas por meio do preenchimento de formulários. <br>
                Os dados pessoais poderão ser utilizados também com uma finalidade comercial, para personalizar o conteúdo oferecido ao usuário, bem como para dar subsídio à Green Tecnologia para a melhora da qualidade e funcionamento de seus serviços. <br>
                A Green Tecnologia recolhe os dados do usuário para que seja realizada definição de perfis (<i>profiling</i>), ou seja, tratamento automatizado de dados pessoais que consista em utilizar estes dados para avaliar certos aspectos pessoais do usuário, principalmente para analisar ou prever características relacionadas ao seu desempenho profissional, a sua situação econômica, saúde, preferências pessoais, interesses, fiabilidade, comportamento, localização ou deslocamento. <br>
                Os dados de cadastro serão utilizados para permitir o acesso do usuário a determinados conteúdos da Green Tecnologia, exclusivos para usuários cadastrados. <br>
                A coleta de dados relacionados ou necessários à execução de um <b>Termo de Responsabilidade</b> eventualmente firmado com o usuário terá a finalidade de conferir às panes segurança jurídica, além de facilitar e viabilizar a conclusão da contratação. <br>
                O tratamento de dados pessoais para finalidades não previstas nesta Política de Privacidade somente ocorrerá mediante comunicação prévia ao usuário, sendo que, em qualquer caso, os direitos e obrigações aqui previstos permanecerão aplicáveis.
            </p>

            <p>
                <b>Prazo de conservação dos dados pessoais</b>
            </p>
            <p>
                Os dados pessoais do usuário serão conservados pelo prazo máximo de <b>36 (trinta e seis) meses</b>, exceto se o usuário solicitar a sua supressão antes do final deste prazo. <br>
                Os dados pessoais dos usuários apenas poderão ser conservados após o término de seu tratamento nas seguintes hipóteses:
                <ul>
                    <li>para o cumprimento de obrigação legal ou regulatória pelo controlador;</li>
                    <li>para estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</li>
                    <li>para a transferência a terceiros, desde que respeitados os requisitos de tratamento de dados dispostos na legislação;</li>
                    <li>para uso exclusivo do controlador, vedado seu acesso por terceiros, e desde que anonimizados os dados.</li>
                </ul>
            </p>

            <p>
                <b>Destinatários e transferência dos dados pessoais</b>
            </p>
            <p>
                Os dados pessoais do usuário poderão ser compartilhados com as seguintes pessoas ou empresas:
                <ul>
                    <li>Prefeitura Municipal de São Paulo;</li>
                    <li>Prefeitura Municipal de Barueri;</li>
                    <li>BPA Best Private Accounting Services Ltda;</li>
                    <li>Setti Sistemas Ltda;</li>
                    <li>ILOG Tecnologia Ltda ME;</li>
                    <li>Ministério da Fazenda – Secretaria da Receita Federal do Brasil;</li>
                    <li>Banco Itaú S/A;</li>
                    <li>COPIADORA V.L.S. LTDA – EPP.</li>
                </ul>
                A transferência apenas poderá ser feita para outro país caso o país ou território em questão ou a organização internacional em causa assegurem um nível de proteção adequado dos dados do usuário. <br>
                Caso não haja nível de proteção adequado, a Green Tecnologia se compromete a garantir a proteção dos seus dados de acordo com as regras mais rigorosas, por meio de cláusulas contratuais específicas para determinada transferência, cláusulas-padrão contratuais, normas corporativas globais ou selos, certificados e códigos de conduta regularmente emitidos.
            </p>

            <p>
                <b>Do tratamento dos dados pessoais</b>
            </p>
            <p>
                <i>Do responsável pelo tratamento dos dados (data controller)</i>
            </p>
            <p>
                O controlador, responsável pelo tratamento dos dados pessoais do usuário, é a pessoa física ou jurídica, a autoridade pública, a agência ou outro organismo que, individualmente ou em conjunto com outras, determina as finalidades e os meios de tratamento de dados pessoais. <br>
                Na Green Tecnologia, <b>o responsável pelo tratamento dos dados pessoais coletados</b> é o Sr. <b>EMERSON CHICARELLI MARIANO</b> que poderá ser contatado pelo e-mail <a href="mailto:emerson.chicarelli@green.com.br">emerson.chicarelli@green.com.br</a>, ou no endereço: Av. Paulista, nº 326, 12º andar, Bela Vista, CEP.: 01310-000, SP/SP, ou ainda através do telefone (11) 3253-5299, no ramal 174. <br>
                O responsável pelo tratamento dos dados se encarregará diretamente do tratamento dos dados pessoais do usuário.
            </p>
            <p>
                <i>Do encarregado de proteção de dados (data protection officer)</i>
            </p>
            <p>
                O encarregado de proteção de dados (data protection officer) é o profissional encarregado de informar, aconselhar e controlar o responsável pelo tratamento dos dados, bem como os colaboradores que tratem os dados, a respeito das obrigações da Green Tecnologia nos termos do RGDP, da Lei de Proteção de Dados Pessoais e de outras disposições de proteção de dados presentes na legislação nacional e interacional, em cooperação com a autoridade de controle competente. <br>
                Na Green Tecnologia, <b>o responsável pela proteção dos dados pessoais coletados</b> é o Sr. <b>CLAUDEMIR GUERREIRO</b> que poderá ser contatado pelo e-mail <a href="mailto:claudemir.guerreiro@green.com.br">claudemir.guerreiro@green.com.br</a>, ou no endereço: Av. Paulista, nº 326, 12º andar, Bela Vista, CEP.: 01310-000, SP/SP, ou ainda através do telefone (11) 3253-5299, no ramal 302.
            </p>

            <p><b>Segurança no tratamento dos dados pessoais do usuário</b></p>
            <p>
                A Green Tecnologia se compromete a aplicar as medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, alteração, comunicação ou difusão de tais dados. <br>
                Para a garantia da segurança, serão adotadas soluções que levem em consideração: as técnicas adequadas; os custos de aplicação; a natureza, o âmbito, o contexto e as finalidades do tratamento; e os riscos para os direitos e liberdades do usuário. <br>
                No entanto, a Green Tecnologia se exime de responsabilidade por culpa exclusiva de terceiros, como em caso de ataque de hackers ou crackers, ou culpa exclusiva do usuário, como no caso em que ele mesmo transfere seus dados a terceiros. <br>
                A Green Tecnologia se compromete, ainda, a comunicar o usuário em prazo adequado, caso algum tipo de violação da segurança de seus dados pessoais que possa lhe causar um alto risco para seus direitos e liberdades pessoais. <br>
                A violação de dados pessoais é uma violação de segurança que provoque, de modo acidental ou ilícito, a destruição, a perda, a alteração, a divulgação ou o acesso não autorizado a dados pessoais transmitidos, conservados ou sujeitos a qualquer outro tipo de tratamento. <br>
                Por fim, a Green Tecnologia se compromete a tratar os dados pessoais do usuário com confidencialidade, dentro dos limites legais.
            </p>

            <p><b>Dados de navegação (cookies)</b></p>
            <p>
                Cookies são pequenos arquivos de texto enviados pela Green Tecnologia ao computador do usuário e que nele ficam armazenados, com informações relacionadas à navegação da Green Tecnologia. <br>
                Por meio dos cookies, pequenas quantidades de informação são armazenadas pelo navegador do usuário para que nosso servidor possa lê-las posteriormente. Podem ser armazenados, por exemplo, dados sobre o dispositivo utilizado pelo usuário, bem como seu local e horário de acesso à Green Tecnologia. <br>
                Os cookies não permitem que qualquer arquivo ou informação sejam extraídos do disco rígido do usuário, não sendo possível, ainda, que, por meio deles, se tenha acesso a informações pessoais que não tenham partido do usuário ou da forma como utiliza os recursos da Green Tecnologia. <br>
                É importante ressaltar que nem todo cookie contém informações que permitem a identificação do usuário, sendo que determinados tipos de cookies podem ser empregados simplesmente para que o site seja carregado corretamente ou para que suas funcionalidades funcionem do modo esperado. <br>
                As informações eventualmente armazenadas em cookies que permitam identificar um usuário são consideradas <b>dados pessoais</b>. Dessa forma, todas as regras previstas nesta Política de Privacidade também lhes são aplicáveis.
            </p>
            <p>
                <i>Cookies da Green Tecnologia</i>
            </p>
            <p>
                Os cookies do site são aqueles enviados ao computador ou dispositivo do usuário e administrados exclusivamente pela Green Tecnologia. <br>
                As informações coletadas por meio destes cookies são utilizadas para melhorar e personalizar a experiência do usuário, sendo que alguns cookies podem, por exemplo, ser utilizados para lembrar as preferências e escolhas do usuário, bem como para o oferecimento de conteúdo personalizado. <br>
                Estes dados de navegação poderão, ainda, ser compartilhados com eventuais parceiros da Green Tecnologia, buscando o aprimoramento dos produtos e serviços ofertados ao usuário.
            </p>
            <p>
                <i>Cookies de redes sociais</i>
            </p>
            <p>
                A Green Tecnologia utiliza plugins de redes sociais, que permitem acessá-las a partir do site. Assim, ao fazê-lo, os cookies utilizados por elas poderão ser armazenados no navegador do usuário. <br>
                Cada rede social possui sua própria política de privacidade e de proteção de dados pessoais, sendo as pessoas físicas ou jurídicas que as mantêm responsáveis pelos dados coletados e pelas práticas de privacidade adotadas. <br>
                O usuário pode pesquisar, junto às redes sociais, informações sobre como seus dados pessoais são tratados. A título informativo, disponibilizamos os seguintes links, a partir dos quais poderão ser consultadas as políticas de privacidade e de cookies adotadas por algumas das principais redes sociais: <br>
                Facebook: <a href="https://www.facebook.com/policies/cookies/">https://www.facebook.com/policies/cookies/</a> <br>
                Twitter: <a href="https://twitter.com/pt/privacy">https://twitter.com/pt/privacy</a> <br>
                Youtube: <a href="https://policies.google.com/privacy?hl=pt-BR&gl=pt">https://policies.google.com/privacy?hl=pt-BR&gl=pt</a> <br>
                Google+: <a href="https://policies.google.com/technologies/cookies?hl=pt">https://policies.google.com/technologies/cookies?hl=pt</a> <br>
                Linkedln: <a href="https://www.linkedin.com/legal/cookie-policy?trk=hp-cookies">https://www.linkedin.com/legal/cookie-policy?trk=hp-cookies</a>
            </p>
            <p>
                <i>Gestão dos cookies e configurações do navegador</i>
            </p>
            <p>
                O usuário poderá se opor ao registro de cookies pela Green Tecnologia, bastando que desative esta opção no seu próprio navegador ou aparelho. <br>
                A desativação dos cookies, no entanto, pode afetar a disponibilidade de algumas ferramentas e funcionalidades da Green Tecnologia, comprometendo seu correto e esperado funcionamento. Outra consequência possível é a remoção das preferências do usuário que eventualmente tiverem sido salvas, prejudicando sua experiencia.
            </p>

            <p><b>Condições especiais celebradas em parceria com a Microsoft™</b></p>
            <p>
                A Green Tecnologia possui contrato de parceria firmado com a <b>Microsoft do Brasil Importação e Comércio de Software e Vídeo Games Ltda</b>, em 19 de dezembro de 2018, com vigência de 5 (cinco) anos a partir desta data. <br>
                Nesta Política a Green Tecnologia reitera as seguintes condições contratadas referentes à privacidade da <b>Informação Pessoal Microsoft</b>:
            </p>
            <ul>
                <li>Garante obter o consentimento necessário do Usuário, antes ou no momento da recolha da Informação Pessoal, nos casos em que surgir a necessidade da <b>recolha adicional</b>, além dos dados já recolhidos pela própria Microsoft e <b>compartilhados por ela</b> com a Green Tecnologia. No caso da <b>recolha adicional</b>, o Usuário  de Dados será informado de que precisará enviar seus dados pessoais necessários para o cadastramento de aluno no sistema ERP, através do e-mail <a href="mailto:lgpd@green.com.br">lgpd@green.com.br</a>. Posteriormente, no momento do aceite da ficha de cadastro, o Usuário deverá sinalizar que leu a Política de Privacidade (que abrange todos os procedimentos referentes ao uso e armazenamento de seus dados); do contrário, seu cadastro, e consequente inclusão na turma, não será concretizado;</li>
                <li>Nos casos em que o cliente for <b>Pessoa Jurídica</b>, o aceite da Política de Privacidade será efetuado por <b>representante legal</b> da empresa que contratou a prestação de serviços, estando a Green Tecnologia desobrigada de recolher individualmente os dados dos alunos, uma vez que este procedimento foi feito pela Pessoa Jurídica. A Green Tecnologia garante os demais termos desta Política, no tocante a guarda, modificação, portabilidade, exclusão e retificação dos dados;</li>
                <li>Garante explicar ao Usuário o processo para consentir, recusar ou fornecer a Informação Pessoal e as consequências de cada uma das ações;</li>
                <li>Garante documentar e gerir as preferências de contato de um Usuário e implementar e gerir as alterações a essas preferências de imediato, quando solicitado, o que inclui <b>modificação, portabilidade, exclusão e retificação</b> dos dados através do e-mail <a href="mailto:lgpd@green.com.br">lgpd@green.com.br</a>, sob supervisão do Controlador de Dados da Green Tecnologia, Sr. <b>EMERSON CHICARELLI MARIANO</b>;</li>
                <li>Assegura que se o consentimento não for dado não existe utilização ou processamento adicional posterior;</li>
                <li>Garante reter as informações confidenciais compartilhadas pela Microsoft apenas durante o tempo necessário para a prestação dos serviços descritos nas SOW específicas ou conforme seção 5, item “d”, do referido contrato;</li>
                <li>Garante que, segundo a discrição única da Microsoft, as <b>Informações Pessoais Microsoft</b> ou as <b>Informações Confidenciais</b> na posse da Green Tecnologia ou sob seu controle sejam devolvidas à Microsoft ou destruídas (fragmentadas), de modo que não possam ser lidas nem reconstruídas, após o fim dos serviços ou mediante pedido da Microsoft;</li>
                <li>Compromete-se em enviar um certificado de destruição assinado por um representante legal à Microsoft a cada evento de eliminação desses dados;</li>
                <li>Garante documentar as ocorrências de desacordo da precisão da informação remetida ao Usuário e encaminhá-las à Microsoft;</li>
                <li>Garante manter a integridade de toda a <b>Informação Pessoal Microsoft</b> – precisa, completa e relevante – para os devidos fins declarados para os quais foram processadas;</li>
                <li>Garante o recolhimento mínimo de <b>Informação Pessoal Microsoft</b> necessária para cumprir os objetivos declarados;</li>
                <li>Garante a notificação imediata à Microsoft através do canal do SSPA, ao tomar conhecimento de uma Violação da Informação Pessoal ou vulnerabilidade de segurança relacionada com o tratamento das <b>Informações Pessoais ou Confidenciais da Microsoft</b>;</li>
                <li>Compromete-se em realizar testes periódicos para garantir e apoiar os direitos do Usuário nos casos de acesso, eliminação, edição, exportação, restrição e objeção ao processamento da sua Informação Pessoal.</li>
                <li>Garante que todos os colaboradores estão cientes que não devem emitir qualquer comunicado de imprensa ou qualquer outro aviso público relacionado a uma violação da <b>Informação Pessoal Microsoft</b> ou <b>Informações Confidenciais</b> sem obter aprovação expressa da Microsoft, salvo o que é exigido por lei ou por requisitos de regulamentação;</li>
                <li>Garante que são observados cuidados razoáveis para não identificar terceiros a partir de uma informação divulgada. Por exemplo, é <b>expressamente proibido</b> fotocopiar documentos para a recolha de dados sensíveis que constem dados de terceiros (contratos sociais, contratos de locação, etc.);</li>
                <li>Garante que os ativos físicos (listas de presença, avaliações diárias e finais em papel) que contenham dados sensíveis dos alunos, ficam armazenadas numa sala restrita onde somente algumas pessoas do setor tem acesso à chave deste armário. A chave fica em local seguro, onde somente os funcionários autorizados tem acesso e ainda existe uma cópia-chave que fica em poder do departamento administrativo. O arquivamento físico é feito pelo prazo de 3 (três) anos e após o vencimento deste prazo são destruídos pela máquina especializada de descartes e levada até o local de reciclável do edifício. Toda manipulação destes documentos tem monitoramento por câmeras de segurança e um(a) supervisor(a) responsável.</li>
            </ul>
            <p>
                <i>Plano de Compromisso e Monitoria à resolução de violações das Informações Pessoais e vulnerabilidades relacionadas com as Informações Pessoais Microsoft</i>
            </p>
            <p>
                A Green Tecnologia se compromete a monitorar as <b>Informações Pessoais Microsoft e Informações Confidenciais</b> em ambiente separado ao seu ambiente comercial (CRM). Para o bom desenvolvimento das entregas de serviços contratados pela Microsoft, a Green Tecnologia armazenará os dados dos clientes Microsoft apenas no ambiente ERP, responsável pela abertura e registro de turmas, impressão de formulários (listas de presença, certificados de participação, etc.), inclusão e exclusão de alunos, avaliação de qualidade dos serviços de treinamento.
            </p>

            <p><b>Tratamento das queixas formais referente à proteção de dados</b></p>
            <p>
                Qualquer usuário de serviços da Green Tecnologia pode formalizar um pedido de queixa para obter respostas às suas dúvidas ou solicitações quanto à proteção de seus dados. <br>
                Quando em contato com a Green Tecnologia, sinalizando sua vontade de registrar uma queixa formal, será informado a encaminhar seu pedido através do e-mail <a href="mailto:lgpd@green.com.br">lgpd@green.com.br</a>, usando o e-mail cadastrado originalmente para a prestação dos serviços contratados. Após feita a validação da identidade do Usuário seu pedido será processado em até <b>48 (quarenta e oito) horas</b> a partir da data de recebimento da solicitação. Ele será comunicado dos procedimentos que foram adotados para a resolução de sua queixa através do e-mail utilizado por ele para esse fim. <br>
                Nos casos em que o Usuário for cliente da Microsoft™ e seu pedido for NEGADO, sob a direção da Microsoft, o Usuário receberá uma explicação por escrito consistente com quaisquer instruções relevantes previamente aprovadas e emitidas pela Microsoft™.
            </p>

            <p><b>Das alterações</b></p>
            <p>
                A presente versão desta Política de Privacidade foi atualizada pela última vez em 26/04/2019. <br>
                O editor, em nome da Green Tecnologia, se reserva o direito de modificar, a qualquer momento, as presentes normas, especialmente para adaptá-las às evoluções da Green Tecnologia seja pela disponibilização de novas funcionalidades, seja pela supressão ou modificação daquelas já existentes. <br>
                O usuário será explicitamente notificado em caso de alteração desta Política. <br>
                Ao utilizar o serviço após eventuais modificações, o usuário demonstra sua concordância com as novas normas. Caso discorde de alguma das modificações, deverá pedir, imediatamente, o cancelamento de sua conta e apresentar a sua ressalva ao serviço de atendimento, se assim o desejar.
            </p>

            <p><b>Do Direito aplicável e do foro</b></p>
            <p>
                Para a solução das controvérsias decorrentes da Política de Privacidade, será aplicado integralmente o Direito Brasileiro. <br>
                Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede do editor da Green Tecnologia.
            </p>
        </div>

    </section>
</main>
